<nav class="navbar">
  <div class="navbar-brand">
    <!-- Brand Logo -->
    <a class="navbar-item" href="/">
      <strong>EventTrack</strong>
    </a>

    <!-- Email -->
    <a class="navbar-item is-hidden-desktop" href="mailto:info@eventrack.com">
      <span class="icon" style="color: #333;">
        <i class="fa fa-lg fa-envelope"></i>
      </span>
    </a>

    <!-- Facebook -->
    <a class="navbar-item is-hidden-desktop" href="#" target="_blank">
      <span class="icon">
        <i class="fab fa-facebook-f"></i>
      </span>
    </a>

    <!-- Mobile Menu -->
    <div class="navbar-burger burger" data-target="navMenuBlogHero">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <!-- Menu -->
  <div id="navMenuBlogHero" class="navbar-menu">
    <!-- Left Nav -->
    <div class="navbar-start">
      <a class="navbar-item" href="/events">Events</a>
      <a class="navbar-item" href="#services">Services</a>
      <a class="navbar-item" href="#about-us">About</a>
      <a class="navbar-item" href="#contact-us">Contact Us</a>
    </div>
    <!-- ./Left Nav -->

    <!-- Right Nav -->
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <% if(!currentUser){ %>
          <p class="control">
            <a class="button is-primary" href="/register">
              <span class="icon">
                <i class="fab fas fa-user-plus"></i>
              </span>
              <span>Sign Up</span>
            </a>
          </p>

          <p class="control">
            <a class="button is-success" href="/login">
              <span class="icon">
                <i class="fab fas fa-user-circle"></i>
              </span>
              <span>Sign In</span>
            </a>
          </p>
          <% } else { %>

          <p class="control">
            <a class="button is-normal is-success" href="/users/<%=currentUser.id%>"
              >Welcome <%=currentUser.username.toUpperCase()%>
            </a>
            <a href="/logout" class="button is-primary is-normal">Logout</a>
          </p>
          <% } %>
        </div>
      </div>
    </div>
    <!-- ./Right Nav -->
  </div>
  <!-- ./Menu -->
</nav>


<div class="hero column is-10 is-offset-1">
  <%if(error && error.length> 0){%>
  <div class="box messageBox is-narrow" style="background-color:blue;" role="alert">
  <%=error%>
</div>
<%}%>
<%if(success && success.length> 0){%>
  <div class="box messageBox is-narrow" style="background-color:aquamarine;" role="alert">
  <%=success%>
</div>
<%}%>
</div>

<style>
  .messageBox{
    border:#333;
    border-radius: 5px;
    z-index: 4;
    line-height: 1px;
  }
  </style>



