<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="EventTrack is the best place to search for local and international events. Find you favorite event or add you event to showcase to the world"
    />
    <title>EventTrack</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>
  </head>

  <body class="layout-default">
    <section class="hero main_hero is-fullheight">
      <div class="hero-head">
        <div class="first_nav">
          <div class="container">
            <%- include ("./partials/header") %>
          </div>
        </div>
      </div>

      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="slider-content animated zoomIn">
            <div>
              <p class="title is-1 main-text">Welcome to EventTrack</p>
              <p class="subtitle is-4 main-text">
                Find Events or Create Your Own
              </p>
              <a href="/events" class="button is-info is-large">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
                <span>View Events</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Us Section -->
    <section class="hero" id="contact-us">
      <div class="hero-body">
        <div class="container">
          <div>
            <div class="content">
              <h4 class="title is-4">Contact Us</h4>
            </div>
            <h6 class="subtitle is-6">
              If you've any queries feel free to contact us
            </h6>

            <div class="columns box">
              <form class="column" action="#">
                <div class="field">
                  <label class="label">Name</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      placeholder="Your Name"
                      required=""
                    />
                  </div>
                </div>

                <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      placeholder="Email address"
                      required=""
                    />
                  </div>
                </div>

                <div class="field">
                  <label class="label">Phone Number</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      placeholder="Phone number"
                      required=""
                    />
                  </div>
                </div>

                <div class="field">
                  <label class="label">Message</label>
                  <div class="control">
                    <textarea
                      class="textarea"
                      type="text"
                      placeholder="Type your message here..."
                      required=""
                    ></textarea>
                  </div>
                </div>

                <div class="field">
                  <label class="label"></label>
                  <div class="control">
                    <input class="button is-primary" type="submit" />
                  </div>
                </div>
              </form>

              <div class="column">
                <iframe
                  width="100%"
                  height="100%"
                  frameborder="0"
                  style="border:0; height: 100%;"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3535.160409935582!2d85.5364530144312!3d27.619548182828407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb092082d99e3b%3A0xe509dafa47685dba!2sKathmandu%20University!5e0!3m2!1sen!2snp!4v1579190471899!5m2!1sen!2snp"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ./Contact Us Section -->

<!--Services Section-->
<section class="hero" id="services">
  <div class="quickview-block">
    <div class="conatiner">
      <h4 class="title is-4">Services</h4>
      <div class="columns is-multiline" id="text1">
        <div class="column is-one-third-desktop is-half-tablet is-half-mobile is-mobile">
          <div class="card">
            <div class="card-image">
              <figure class="image is-3by2">
                <img src="https://optinmonster.com/wp-content/uploads/2017/11/wordpress-survey-popup.jpg" alt="">
              </figure>
              <div class="card-content">
                <span class="tag is-info is-medium">
                  Create
                </span>
                <div>We allow you to create events.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-one-third-desktop is-half-tablet is-half-mobile is-mobile">
          <div class="card">
            <div class="card-image">
              <figure class="image is-3by2">
                <img src="https://www.rainbowarticles.com/wp-content/uploads/2019/11/NSR-registration.jpg" alt="">
              </figure>
              <div class="card-content">
                <span class="tag is-info is-medium">
                  Register
                </span>
                <div>We provide you platform to register for events.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-one-third-desktop is-half-tablet is-half-mobile is-mobile">
          <div class="card">
            <div class="card-image">
              <figure class="image is-3by2">
                <img
                  src="https://tr2.cbsistatic.com/hub/i/r/2016/10/17/b8fc1ae1-fb59-4d54-88a4-291db27c1ae6/thumbnail/770x578/1da4471c1e561fce6a0aed9ed36624bc/explorehero.jpg"
                  alt="">
              </figure>
              <div class="card-content">
                <span class="tag is-info is-medium">
                  Discover
                </span>
                <div>We help you find events near you.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<!--./Services section-->
<!-- About us Section-->
<section class="hero" id="about-us">
  <div class="quickview-block">
    <h4 class="title is-4">About Us </h4>
    <div class="columns is-vcentered">
      <div class="column is-3by2">
        <div class="card">
          <div id="text">
            <h1 class="title">EventTrack</h1>
            <p> EventTrack is a platform that allows anyone to create, discover and join events. Music,
              feast,
              educational fair, conferences, gaming competions, where different people from different
              parts of the
              world join together. Our mission is to provide you better experience in every field.
              We are team who are focused to provide you platform to creat, discover and join events
              that are ongoing in the different patrs of the worlds. Events are not just to entertain us.
              Events
              supports us to build our career and personality. They gives us memories.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    <!-- Footer Section -->
    <footer class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-4">
              <div class="content">
                <h6 class="footer_title title is-6">NEWSLETTER</h6>
                <p>We love to share new offers and exclusive promotions</p>

                <div class="newsletter">
                  <form action="#" method="POST" class="newsletter-form">
                    <input
                      type="email"
                      name="email"
                      placeholder="Enter your email address"
                    />
                    <button>
                      <i class="fa fa-paper-plane"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>

            <div class="column is-4">
              <div class="content">
                <div>
                  <h6 class="footer_title title is-6">SOCIAL MEDIA</h6>
                  <p>Follow the Bulma Hotels on social media</p>

                  <button class="facebook-button button is-medium">
                    <i class="fab fa-facebook-f"></i>
                  </button>
                  <button class="twitter-button button is-medium">
                    <i class="fab fa-twitter"></i>
                  </button>
                  <button class="google-button button is-medium">
                    <i class="fab fa-google-plus-g"></i>
                  </button>
                  <button class="linkedin-button button is-medium">
                    <i class="fab fa-linkedin-in"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="column is-4">
              <div class="content">
                <h6 class="footer_title title is-6">ADDRESS</h6>
                <p>Reach the destinaiton safely</p>

                <p>Twin Tower Kathmandu 44600 Nepal</p>

                <div>
                  <i class="fa fa-phone"></i> &nbsp;
                  <span>Phone Number</span> &nbsp;
                  <a href="tel:+302109999999">+977 9861656522</a>
                </div>
              </div>
            </div>
          </div>

          <div class="has-text-centered">
            &copy; 2020, EventTrack. All rights reserved.<br />
            <a href="https://www.eventrack.com" style="color:white;"
              >Designed with
              <i
                class="fa fa-heart fa-fw"
                style="font-size: 12px; color:red; margin-right:5px; margin-left:5px;"
              ></i>
              by team TheGameChangers</a
            >
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
