
<%- include ("partials/header") %>

<section class="section">
    <div class="container">
      <h1 class="title">
        Welcome to EventTrack
      </h1>
    </div>
</section>


<%- include ("partials/footer") %>