
<%- include ("partials/header") %>

<section class="section">
    <div class="container">
      <h1 class="title">
        Welcome to EventTrack
      </h1>
      <p><a href="/events">View All Events</a></p>
    </div>
</section>


<%- include ("partials/footer") %>