<%- include ("partials/header") %>

<div class="container">
  <section class="section">
    <div class="container">
      <h1 class="title">
        Welcome to EventTrack
      </h1>
      <button class="button is-success is-rounded">
      <a href="/events" style="color:white">View All Events </a>
    </button>
    </div>
  </section>
  
</div>
<%- include ("partials/footer") %>
