<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Register</title>
    <link
      href="https://fonts.googleapis.com/css?family=Tajawal"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css" />
    <style>
      .invalid {
        color: red;
      }
      .valid {
        color: green;
      }
      .link {
        color: blue;
      }
    </style>
  </head>
  <body>
    <section class="hero has-background-white.ter is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-10-desktop is-12-widescreen">
              <form
                action="/register"
                method="POST"
                class="box"
                enctype="multipart/form-data"
              >
                <h1 class="title is-2">Sign Up</h1>
                <div class="field">
                  <label for="name" class="label">Name</label>
                  <div class="columns">
                    <div class="column">
                      <input
                        type="text"
                        class="input"
                        placeholder="First Name"
                        name="firstName"
                        required
                      />
                    </div>
                    <div class="column">
                      <input
                        type="text"
                        class="input"
                        placeholder="Last Name"
                        name="lastName"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="columns">
                    <div class="column">
                      <label for="email" class="label">Email</label>
                      <div class="control has-icons-left">
                        <input
                          type="text"
                          class="input"
                          placeholder="Example: abc123@yahoo.com"
                          name="email"
                          id="email"
                          required
                        />
                        <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span>
                      </div>
                    </div>
                    <div class="column">
                      <label for="username" class="label">Username</label>
                      <div class="control has-icons-left">
                        <input
                          type="text"
                          class="input"
                          placeholder="Username"
                          name="username"
                          required
                        />
                        <span class="icon is-small is-left">
                          <i class="fas fa-user"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="columns">
                    <div class="column">
                      <label for="password" class="label">Password</label>
                      <div class="control has-icons-left has-icons-right">
                        <input
                          type="password"
                          class="input"
                          placeholder="Password"
                          id="password"
                          name="password"
                          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                          title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                          onchange="passwordValidity()"
                          required
                        />
                        <span class="icon is-small is-left">
                          <i class="fas fa-lock"></i>
                        </span>
                        <input
                          type="checkbox"
                          onclick="showPassword()"
                          id="toggle-password"
                        />Show Password
                        <!-- <span class="icon is-small is-right">
                                              <i class="fas fa-eye"></i>
                                          </span> -->
                      </div>
                    </div>
                    <div class="column">
                      <label for="retype-password" class="label"
                        >Retype Password</label
                      >
                      <!-- <div class="control has-icons-right"> -->
                      <input
                        type="password"
                        class="input"
                        placeholder="Retype Password"
                        id="retype"
                        name="retype-password"
                        onchange="checkPassword()"
                        required
                      />
                      <!-- <span class="icon is-small is-right">
                                              <i class="fas fa-check-circle "></i>
                                          </span> -->
                      <span id="invalid-password"></span>
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
                 <div class="field">
                 <div class="columns">
                    <div class="column is-6">
                      <label for="Phone number" class="label">Phone number</label>
                      <div class="control has-icons-left">
                        <input
                          type="number"
                          class="input"
                          placeholder="Phone Number"
                          name="contact_no"
                          required
                        />
                        <span class="icon is-small is-left">
                          <i class="fas fa-user"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="columns">
                    <div class="column">
                      <label for="avatar" class="label"
                        >Upload your Profile Picture</label
                      >
                      <div
                        id="avatar-upload"
                        class="file has-name is-fullwidth is-success"
                      >
                        <label class="file-label">
                          <input
                            class="file-input"
                            type="file"
                            name="image"
                            id="image"
                            accept="image/*"
                          />
                          <span class="file-cta">
                            <span class="file-icon">
                              <svg
                                class="svg-inline--fa fa-upload fa-w-16"
                                aria-hidden="true"
                                data-prefix="fas"
                                data-icon="upload"
                                role="img"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512"
                                data-fa-i2svg=""
                              >
                                <path
                                  fill="currentColor"
                                  d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"
                                ></path>
                              </svg>
                            </span>
                            <span class="file-label">
                              Choose a file
                            </span>
                          </span>
                          <span class="file-name">
                            Example_Image.jpg
                          </span>
                        </label>
                      </div>
                    </div>
                    <div class="column">
                      <label for="sex" class="label">Sex</label>
                      <div class="control" onchange="sex()">
                        <label for="male" name="sex">
                          <input
                            type="radio"
                            name="radio"
                            class="radio"
                            value="Male"
                            required
                          />
                          Male
                        </label>
                        <label for="female" name="sex">
                          <input
                            type="radio"
                            name="radio"
                            class="radio"
                            value="Female"
                            required
                          />
                          Female
                        </label>
                        <label for="other" name="sex">
                          <input
                            type="radio"
                            name="radio"
                            class="radio"
                            value="Other"
                            required
                          />
                          Other
                        </label>
                      </div>
                    </div>
                    <input type="hidden" id="sex" name="sex" value="" />
                  </div>
                </div>
                <div class="field">
                  <label for="terms" class="checkbox">
                    <input type="checkbox" id="check" onclick="terms()" />
                    I agree to the
                    <a href="#" class="link"><u>Terms and Conditions.</u></a>
                  </label>
                </div>
                <button
                  class="button is-link"
                  id="submit"
                  onclick="checkInfo()"
                >
                  Submit
                </button>
              </form>
              <div class="has-text-centered">
                <p class="has-text-white">
                  Already have an account?<a href="/login" class="link">
                    <u>Sign in</u></a
                  >
                  &nbsp;&nbsp;
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script type="text/javascript" src="js/register.js"></script>
  </body>
</html>
