<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    <link
      href="https://fonts.googleapis.com/css?family=Tajawal"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css" />
  </head>
  <body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <fieldset class="box column is-8 is-offset-2">
                <form action="/forgot-password" method="POST">
                    <legend class="title" style="background-color: white; border-radius: 3px;">Forgot Password</legend>
                    <div class="control">
                        <label for="email" class="label">Email</label>
                        <input class="input" type="email" name="email" autofocus>
                    </div>
                    <div class="control" style="margin-top: 5px;">
                        <button type="submit" class="button is-link">Submit</button>

                        <span><a href="/" class="button is-success">Cancel</a></span>
                    </div>
                </form>
            </fieldset>
        </div>
    </section>
  </body>
</html>
