<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    <link
      href="https://fonts.googleapis.com/css?family=Tajawal"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css" />
    <style>
        .invalid{
            color: red;
        }
        .valid{
            color: green
        }
        .link{
          color:blue;
        }
        </style>
  </head>
  <body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <fieldset class="box column is-8 is-offset-2">
                <form action="/reset/<%=token%>" method="POST">
                    <legend class="title" style="background-color: white; border-radius: 3px;">Reset Password</legend>
                    <div class="control">
                        <label for="password" class="label">New Password</label>
                        <input class="input" type="password" name="password" id="password" placeholder="New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required autofocus>
                        <input type="checkbox" onclick="showPassword()" id="toggle-password">Show Password
                    </div>
                    <div class="control">
                        <label for="confirm" class="label">Confirm Password</label>
                        <input class="input" type="password" name="confirm" id="confirm" placeholder="Confirm Password" onchange="checkPassword()">
                    </div>
                    <span id="validity"></span>
                    <div class="control" style="margin-top: 5px;">
                        <button type="submit" class="button is-link">Submit</button>

                        <span><a href="/" class="button is-success">Cancel</a></span>
                    </div>
                </form>
            </fieldset>
        </div>
    </section>
    <script>
        function showPassword() {
            var password=document.querySelector("#password");
            if(password.type==="password") {
                password.type="text";
            }
            else {
                password.type="password";
            }
        }

        function checkPassword(){
            var password=document.querySelector("#password").value;
            var confirm=document.querySelector("#confirm").value;
            var validity=document.querySelector("#validity");
            if(password===confirm) {
                validity.innerHTML="Your Password has matched.";
                validity.classList.add("valid");
                return true;
            }
            else{
                validity.innerHTML="*Sorry, Your Passwords does not match.";
                validity.classList.add("invalid");
                return false;
            }
        }
    </script>
  </body>
</html>
